<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Receber Doação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conteudo animate__animated animate__backInLeft">
    <img 
    class="img-item"
    src="https://drive.google.com/uc?id=1sHTj2Q5mnvQ7tGNRqc0zhGZLBBJjlP5V"
    alt="soliedariedade" />
    <p class="text-item">
      Esta precisando de ajuda? Podemos te ajudar! Preencha os campos e fale com
      um voluntário. 🙏
    </p>
    <ion-button (click)="whats()" expand="block" type="submit">
      Falar com um voluntário 
    </ion-button>
  </div>
</ion-content>
